{{# f7-page-container }}
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"></div>
      <div class="center">Running Late</div>
      <div class="right"></div>
    </div>
  </div>
  <div class="page-content">
    {{outlet}}
  </div>
{{/ f7-page-container }}
